#unlogged {

  #login-form {
    padding: 1em;
    text-align: center;
  }

  input {
    height: 2em;
    width: 10em;
  }

  form {
    button {
      margin-top: 1em;
      height: 2.5em;
      width: 10em;
    }
  }
}