#signin > form {
  max-width: 55em;
  text-align: center;
  margin: auto; }

#unlogged #login-form {
  padding: 1em;
  text-align: center; }
#unlogged input {
  height: 2em;
  width: 10em; }
#unlogged form button {
  margin-top: 1em;
  height: 2.5em;
  width: 10em; }

#home > div {
  display: block; }
#home > #presentation {
  width: 80%;
  margin: 1em 10%;
  padding: 2em;
  border-radius: 0.3em;
  border: 1px solid dimgray; }
#home > #form-subject {
  float: right; }
  #home > #form-subject > form {
    display: flex; }
#home > #list > #subject-list {
  margin-top: 6em;
  list-style: none;
  padding: 0; }
  #home > #list > #subject-list > .no-subject {
    cursor: pointer;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
    background-color: white;
    color: red;
    border: 1px solid dimgray; }
  #home > #list > #subject-list > .subject-item {
    cursor: pointer;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    border: 1px solid dimgray; }
    #home > #list > #subject-list > .subject-item > div {
      display: flex; }
      #home > #list > #subject-list > .subject-item > div > .title {
        flex: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
      #home > #list > #subject-list > .subject-item > div > .author {
        max-width: 15em; }
      #home > #list > #subject-list > .subject-item > div > .date {
        width: 6em; }

#message > div {
  display: block; }
#message > .subject-item {
  cursor: pointer;
  margin-bottom: 1em;
  padding: 1em;
  display: flex;
  width: 100%;
  background-color: rgba(240, 240, 240, 0.8);
  border: 1px solid dimgray; }
  #message > .subject-item > .title {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  #message > .subject-item > .author {
    max-width: 15em; }
  #message > .subject-item > .date {
    width: 6em; }
#message #answer {
  border: 1px solid #dcdcdc;
  color: dimgray;
  border-radius: 0.3em;
  padding: 1em;
  text-align: right;
  width: 7em; }
#message > #form-message > form > textarea {
  max-width: 70%;
  margin: 0;
  min-width: 70%;
  min-height: 15em;
  max-height: 15em; }
#message #message-list {
  margin-top: 6em;
  list-style: none;
  padding: 0; }
  #message #message-list .message-item {
    cursor: pointer;
    margin-bottom: 1em;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(240, 240, 240, 0.8); }
    #message #message-list .message-item > div {
      border: 1px solid dimgray;
      border-radius: 0.5em;
      margin-bottom: 1em; }
      #message #message-list .message-item > div > .msg-header {
        display: flex;
        padding: 1em;
        background-color: lightskyblue; }
        #message #message-list .message-item > div > .msg-header > .title {
          flex: 1;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
        #message #message-list .message-item > div > .msg-header > .author {
          max-width: 15em; }
        #message #message-list .message-item > div > .msg-header > .date {
          width: 6em; }
      #message #message-list .message-item > div > .msg-body {
        padding: 1em; }

body {
  background-color: #dcdcdc;
  height: 100%;
  min-width: 460px; }
  body #content {
    float: left;
    background-color: white;
    min-height: 100vh;
    width: 70%;
    margin-top: 0;
    margin-left: 15%;
    padding: 1em; }
    body #content h1 {
      color: dimgray;
      font-size: 2em;
      font-weight: bold;
      margin: 2em; }
    body #content h2 {
      color: dimgray;
      font-size: 2em !important;
      font-weight: bold;
      margin: 2em;
      text-align: center !important; }
    body #content h2 {
      color: dimgray;
      font-size: 1.3em;
      font-weight: bold;
      margin: 0.7em;
      text-align: left; }
    body #content button {
      height: 3em;
      min-width: 7em;
      padding: 0.5em 1em;
      margin: 0.5em 0.5em; }
    body #content input {
      height: 3em;
      padding: 0.5em 1em;
      border-radius: 0.3em;
      margin: 0.5em 0.5em;
      width: 100%;
      max-width: 20em; }
    body #content form {
      text-align: center;
      display: block; }
      body #content form .button {
        display: block;
        /* text-align: center; */
        width: 10em;
        height: 3em;
        border-radius: 0.4em;
        color: white;
        background-color: #2B8BDF;
        margin: auto;
        border: 1px solid #AAAAAA;
        margin-top: 2em; }
        body #content form .button:hover {
          background-color: #1682E1; }
  body #navigation .nav-button {
    margin-top: 0.5em;
    margin-left: 0.5em; }
  body #navigation input {
    height: 2.5em;
    padding: 0.3em 0.3em;
    border-radius: 0.3em;
    margin: 0.5em 0;
    width: 100%; }
